RACK_ENV=production
REDIS_URL=redis://redis
MEMCACHE_HOST=memcached
POSTGRES_HOST=postgres
POSTGRES_USER=dearfcc
POSTGRES_PASSWORD=dearfcc
POSTGRES_DB=dear_fcc_production
ECFS_API_KEY=
SENTRY_DSN=
SENTRY_DSN_PUBLIC=
