
form#dearfcc {
  background-color: #cbd3d5;
  padding: 21px 28px;
  margin-bottom: 2em;  
  @media (min-width: 940px) {
    box-shadow: 5px 5px 5px #888;
  }

  @media (min-width: 940px) {
    padding: 28px 42px;
  }

  h3 {
    margin: 0;
    margin-bottom: 1rem;
    font-weight: 700;
  }

  fieldset {
    border: none;
    padding: 0;
    margin: 1rem 0;
  }

  fieldset fieldset {
    margin: 0;
  }

  label {
    font-weight: 600;
    font-size: 1rem;
  }

  .form-control {
    box-sizing: border-box;
    color: #96a6a6;
    font-weight: 600;
    display: block;
    width: 100%;
    height: 34px;
    margin-top: 0.3rem;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  }

  textarea.form-control {
    height: auto;
    font-style: italic;  
  }

  fieldset#filer .form-control {
    margin-top: 1rem;
  }

  #edit-filer-city {
  }

  #edit-filer-state {
    float: left;
    margin-right: 1rem;
    max-width: 200px;
  }

  #edit-filer-zip-code {
    max-width: 115px;
  }

  @media (min-width: 940px) {
    #edit-filer-city {
      margin-right: 1rem;
      max-width: 200px;
      float: left;
    }

    #edit-filer-state {
      margin-right: 1rem;
      max-width: 200px;
      float: left;
    }

    #edit-filer-zip-code {
      max-width: 115px;
    }
  }

  label[for=edit-subscribe] {
    font-weight: normal;
  }

  .form-actions {
    padding-top: 1em;
    text-align: right;
  }

  .form-actions button {
    border-radius: 0;
    border: none;
    color: #fff;
    text-transform: uppercase;
    text-shadow: none;
    font-weight: 800;
    padding: .375rem .75rem;
    cursor: pointer;

    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
  }

  .form-actions button.next, .form-actions button.submit {
    background-color: #c00;

    &:hover {
      background-color: #e0e0e0;
    }
  }

  .form-actions button.previous {

  }

/*
  input.webform-previous, button.webform-previous {
    border-radius: 0;
    border: none;
    background-color: #5e7b89;
    color: #fff;
    float: left;
    background-image: none;
    text-transform: uppercase;
    text-shadow: none;
    font-weight: 800;
  }

  input.webform-submit, button.webform-submit {
    border-radius: 0;
    border: none;
    color: #fff;
    background-color: #c00;
    background-image: none;
    text-transform: uppercase;
    text-shadow: none;
    font-weight: 800;
  }
*/

  .select-or-other .other {
    max-height: 1px;
    overflow: hidden;
    transition: max-height 70ms;
  }

  .select-or-other.other .other {
    max-height: 2rem;
    transition: max-height 70ms;
  }


  .random-choice {
    display: inline;
  }

  .random-choice select {
    display: none;
  }

  .random-choice .choices * {
    display: none;
  }

  .random-choice .choices .chosen {
    display: inline;
  }

  .random-choice:not(.processed) .choices *:first-child {
    display: inline;
  }

  .retention-notice {
    text-align: center;
  }


  .international-address-switch, .us-address-switch {
    display: inline-block;
    float: right;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: normal;
    font-size: 0.9rem;
  }

  .international-filer, .us-address-switch {
    display: none;
  }
}

