<h2>Something went wrong...</h2>

<p>There was an error processing your request. Please try again. If you continue to experience this problem, contact <%= link_to "webdev@eff.org", "mailto:webdev@eff.org?subject=dearfcc.org+error" %>.</p>

<p>Click <%= link_to "here", "/" %> to return to dearfcc.org.</p>
