<% if comment_period_open? %>
  <div id="about">
    <i>
      The FCC has asked for public comment on new rules about <a href="https://www.eff.org/issues/net-neutrality">net neutrality</a>.<br/>Use this form to submit a comment to the FCC. <a href="https://www.eff.org/deeplinks/2014/05/prepare-take-action-defend-net-neutrality-heres-how-fcc-makes-its-rules">Learn more</a> about the FCC rulemaking process.
    </i>
  </div>
<% end %>

<h1 class="page-header">Dear FCC,</h1>
