<div class="summary">
  <p>
    Save Net Neutrality
  </p>

  <p>
    A new proposal would destroy the FCC’s net neutrality guidelines, leaving the door open to ISPs creating “Internet fast lanes” that prioritize certain websites over others.
  </p>

  <p>
    Millions of people spoke out in 2014 to demand bright-line rules to ensure ISPs didn’t violate net neutrality. Now that victory is in jeopardy.
  </p>

  <p>
    But you can save it. The FCC is accepting comments on this proposal. Use the form below to submit comments to the FCC.
  </p>

  <p>
    Tips for writings comments:
  </p>

  <ul>
    <li>Make it personal! Explain who you are and why you are concerned about losing net neutrality.</li>
    <li>Make it unique! You’ll have a chance to edit the comments before they are submitted and you should try to make the comment in your own voice.</li>
  </ul>

  <p>
    <em>Note: all comments will be part of the online, searchable public record.</em>
  </p>
</div>
