<div class="summary">
  <p>
    It's our Internet. We made it, and it has remade
    us, changing the way we communicate, learn,
    share and create.
  </p>

  <p>
    We want the Internet to continue to live up to its promise, fostering innovation,
    creativity and freedom. We don't want regulations that will turn our ISPs into
    gatekeepers, making special deals with the few companies that can "pay to
    play" and inhibiting  new competition, innovation and expression.
  </p>
</div>
