<em><p>Because of the FCC's sunshine rules, comments filed during the sunshine period (which begins May 12) won't be included in the record.</p>
<p>DearFCC.org will hold your comments, and submit them when the record opens. You can read more about the sunshine rules <a href="https://apps.fcc.gov/edocs_public/attachmatch/DA-17-454A1.pdf" target='_blank'>here [PDF]</a>.</p></em>