<%= partial "header" %>

<%= partial "main_image" %>

<%= partial "summary" %>

<% if comment_period_open? %>
  <h2 class="form-header">Start your letter to the FCC:</h2>

  <%= partial "form" %>
<% end %>


